#!/bin/bash

ELASTICSEARCH={{ elasticsearch_url }}
CURL=curl
KIBANA_INDEX=".kibana"
DIR={{elastic_workspace}}

echo "Initializing Elasticsearch Index..."

$CURL -XPUT $ELASTICSEARCH/{{ elastic_index }}/

for file in $DIR/mapping/*.json
do
    echo "Loading mapping"
    $CURL -XPUT $ELASTICSEARCH/{{ elastic_index }}/_mapping/{{ elastic_type }} \
        -d @$file || exit 1
    echo
done

echo "Loading dashboards to $ELASTICSEARCH in $KIBANA_INDEX"

echo "Create Kibana Index..."

$CURL -XPUT $ELASTICSEARCH/{{ kibana_index }}/

for file in $DIR/visualization/*.json
do
    name=`basename $file .json`
    echo "Loading visualization $name:"
    $CURL -XPUT $ELASTICSEARCH/$KIBANA_INDEX/visualization/$name \
        -d @$file || exit 1
    echo
done

for file in $DIR/dashboard/*.json
do
    name=`basename $file .json`
    echo "Loading dashboard $name:"
    $CURL -XPUT $ELASTICSEARCH/$KIBANA_INDEX/dashboard/$name \
        -d @$file || exit 1
    echo
done

for file in $DIR/index-pattern/*.json
do
    name=`awk '$1 == "\"title\":" {gsub(/"/, "", $2); print $2}' $file`
    echo "Loading index pattern $name:"
    $CURL -XPUT $ELASTICSEARCH/$KIBANA_INDEX/index-pattern/$name \
       -d @$file || exit 1
    echo
done

for file in $DIR/kibana-config/*.json
do
    name=`awk '$1 == "\"defaultIndex\":" {gsub(/"/, "", $2); print $2}' $file`
    echo "Loading default index pattern $name:"
    $CURL -XPUT $ELASTICSEARCH/$KIBANA_INDEX/config/{{kibana_version}} \
       -d @$file || exit 1
    echo
done


