{
  "title": "gps",
  "hits": 0,
  "description": "",
  "panelsJSON": "[{\"col\":1,\"id\":\"gps-heat-map\",\"panelIndex\":1,\"row\":3,\"size_x\":12,\"size_y\":7,\"type\":\"visualization\"},{\"col\":1,\"id\":\"vins\",\"panelIndex\":3,\"row\":1,\"size_x\":3,\"size_y\":2,\"type\":\"visualization\"},{\"id\":\"gps-chart\",\"type\":\"visualization\",\"panelIndex\":4,\"size_x\":9,\"size_y\":2,\"col\":4,\"row\":1}]",
  "optionsJSON": "{\"darkTheme\":false}",
  "uiStateJSON": "{\"P-3\":{\"spy\":{\"mode\":{\"name\":null,\"fill\":false}}}}",
  "version": 1,
  "timeRestore": true,
  "timeTo": "now",
  "timeFrom": "now/y",
  "kibanaSavedObjectMeta": {
    "searchSourceJSON": "{\"filter\":[{\"query\":{\"query_string\":{\"analyze_wildcard\":true,\"query\":\"*\"}}}]}"
  }
}
